* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #1a192e;
	background-image: url('img/background.png');
	margin: 0;
}
.flex-container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flex-container > div {
	height: 100%;

	font-size: 2em;
}
#sectiongauche {
	width: 70%;
	background-color: #1a192ec9;
}
#sectiondroite {
	background-color: #000000c9;
	display: flex-end;
	width: 30%;
}
h1 {
	justify-content: center;
	color: white;
	text-align: center;
	font-family: 'Secular One', sans-serif;
	font-size: 90%;
}
.bouton {
	background: none;
	padding: 6px;

	border-radius: 7px;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 50px;

	font-size: 70%;
	border: 3px solid white;
	margin-left: 35%;
}
p {
	color: white;
	margin-left: 55px;
	margin-right: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 66%;
}
a {
	margin-left: 55px;
	font-family: 'Roboto', sans-serif;
	color: lightblue;
	font-size: 66%;
}
a:hover {
	color: blue;
}
#soleil {
	position: absolute;
	background-image: url('img/images/objects/sun1.png');
	background-size: cover;
	width: 80px;
	height: 80px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#mercure {
	position: absolute;
	background-image: url('img/images/objects/mercury2.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#venus {
	position: absolute;
	background-image: url('img/images/objects/venus3.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#mars {
	position: absolute;
	background-image: url('img/images/objects/mars4.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#jupiter {
	position: absolute;
	background-image: url('img/images/objects/jupiter5.png');
	background-size: cover;
	width: 60px;
	height: 60px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#terre {
	position: absolute;
	background-image: url('img/images/objects/earth6.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#uranus {
	position: absolute;
	background-image: url('img/images/objects/uranus7.png');
	background-size: cover;
	width: 120px;
	height: 70px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#neptune {
	position: absolute;
	background-image: url('img/images/objects/neptune\ 8.png');
	background-size: cover;
	width: 70px;
	height: 70px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#saturne {
	position: absolute;
	background-image: url('img/images/objects/saturn.png');
	background-size: cover;
	width: 130px;
	height: 90px;
	z-index: 10;

	transform: translate(-50%, -50%);
}
#comete {
	position: absolute;
	background-image: url('img/images/objects/comet.png');
	background-size: cover;
	width: 120px;
	height: 50px;
	z-index: 0;

	transform: translate(-50%, -50%);
}
path {
	opacity: 0;
}

#etoile {
	position: absolute;
	background-image: url('img/images/objects/etoileblanche.png');
	background-size: cover;
	width: 100px;
	height: 100px;
	z-index: 5;
}
